# General
node_modules/
.env
.DS_Store

# .NET
bin/
obj/

# Logs
*.log

# Editor
.vscode/
.idea/
# Node
node_modules/

# Backend
backend/.env

# factor/
project_snapshot.py

# Project Snapshot
PROJECT_SNAPSHOT
